<div class="container">

  <div class="row">
    <div id="welcome-box" class="offset-by-two eight columns">
      <h4>Welcome to</h4>
      <h1>MenuFlow</h1>
    </div>
  </div>
  <div class="row">
    <div class="offset-by-three six columns">
      <%= button_to 'START', parties_path, class: 'main-b', method: :get%>
    </div>
  </div>
  <div class="row">
    <div class="offset-by-three six columns">
      <%= button_to 'ADMIN', log_in_path, class: 'main-b', method: :get%>
    </div>
  </div>

</div>
