/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require normalize
 *= require skeleton
 *= require_self
*/



body {
  text-align: center;
  background: radial-gradient(rgb(65, 71, 71), rgb(33, 39, 42));
  min-height: 600px;
}

.container {
  color: white;
}

.user-header {
  margin: 2.5% 0;
  background-color: rgba(21, 20, 25, 0.4);
  border-bottom: 4px solid rgba(111, 123, 126, 0.68);
  padding: 20px 0 20px 0;
}

input[type='text'], input[type='password'], input[type='number'], select {
  color: black;
}

input[type='number'] {
  width: 100px;
}

.button_to .main-b {
  width: 80%;
  margin: 10px auto;
  padding: 25px 0 60px 0;
  background: linear-gradient(to bottom right, rgb(32, 66, 133), rgb(48, 105, 147));
  color: rgb(221, 221, 221);
  font-size: 2.5em;
  text-shadow: 3px 1px 6px rgb(33, 33, 33);
}

.button_to .main-b:hover {
  background: linear-gradient(to bottom right, rgb(24, 55, 115), rgb(71, 129, 172));
  color: rgb(221, 221, 221);
  font-size: 2.6em;
  text-shadow: 3px 1px 2px rgb(150,150,150);
}

.button_to .logout-b {
  width: 60%;
  margin: 10px auto;
  padding: 0 0 20px 0;
  background: linear-gradient(to bottom right, rgb(126, 32, 15), rgb(221, 78, 58));
  color: rgb(241, 241, 241);
  font-size: 1em;
  text-shadow: none;
}

.button_to .logout-b:hover {
  background: linear-gradient(to bottom right, rgb(126, 32, 15), rgb(193, 38, 17));
  color: rgb(251, 251, 251);
  font-size: 1em;
  text-shadow: none;
}

.button_to .new-b {
  width: 80%;
  margin: 25px 0 0 0;
  padding: 0;
  background: linear-gradient(to bottom right, rgb(32, 133, 39), rgb(58, 166, 88));
  color: rgb(241, 241, 241);
  font-size: .75em;
  text-shadow: none;
}

.button_to .new-b:hover {
  background: linear-gradient(to bottom right, rgb(24, 115, 49), rgb(71, 172, 75));
  color: rgb(251, 251, 251);
  font-size: .75em;
  text-shadow: none;
}

.button_to .nav-b {
  width: 75%;
  font-size: 1.2em;
}

.button_to .nav-b:hover {
  font-size: 1.2em;
}

input[type="submit"].table-b {
  width: 80%;
  font-size: .75em;
  padding: 0;
  background: linear-gradient(to bottom right, rgb(32, 66, 133), rgb(48, 105, 147));
  color: rgb(221, 221, 221);
}

input[type="submit"].table-b:hover {
  font-size: .75em;
}

input[type="submit"] {
  width: 30%;
  margin: 10px auto;
  padding: 10px 0 45px 0;
  background: linear-gradient(to bottom right, rgb(32, 66, 133), rgb(48, 105, 147));
  color: rgb(221, 221, 221);
  font-size: 1.5em;
  text-shadow: 4px 1px 6px rgb(33, 33, 33);
}

input[type="submit"]:hover {
  background: linear-gradient(to bottom right, rgb(24, 55, 115), rgb(71, 129, 172));
  color: rgb(221, 221, 221);
  font-size: 1.6em;
  text-shadow: 3px 1px 2px rgb(150,150,150);
}

#welcome-box {
  margin-top: 50px;
  margin-bottom: 50px;
}

#welcome-box h1 {
  font-size: 5em;
}

.new-item {
  margin-bottom: -30px;
}

.new-item-form {
  margin-bottom: 15px;
}

.new-item-submit {
  margin-bottom: 30px;
}

table {
  width: 100%;
  font-size: 1.15em;
}

.party-cell {
  padding: 0 10px 0 10px;
}
.error {
  color: red;
  font-weight: 200%;
}
