/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require normalize
 *= require skeleton
 *= require_self
*/



body {
  text-align: center;
  background: radial-gradient(rgb(65, 71, 71), rgb(33, 39, 42));
  min-height: 600px;
}

.container {
  color: white;
  margin: 0 auto;
  width: 100%;

}

.row {
  margin: 20px auto;
}

.user-header {
  margin: 1.5% 0;
  background-color: rgba(21, 20, 25, 0.4);
  border-bottom: 4px solid rgba(111, 123, 126, 0.68);
  padding: 20px 0 20px 0;
}

form.button_to {
  margin-bottom: 1.5rem;
}
input[type='text'], input[type='password'], input[type='number'], select {
  color: black;
  width: 95%;
}

input[type='number'] {
  width: 100px;
}

.button_to .main-b {
  width: 90%;
  margin: 5px auto;
  padding: 10px 0 45px 0;
  background: linear-gradient(to bottom right, rgb(32, 66, 133), rgb(48, 105, 147));
  color: rgb(221, 221, 221);
  font-size: 1.5em;
  text-shadow: 3px 1px 6px rgb(33, 33, 33);
}

.button_to .main-b:hover {
  background: linear-gradient(to bottom right, rgb(24, 55, 115), rgb(71, 129, 172));
  color: rgb(221, 221, 221);
  font-size: 1.6em;
  text-shadow: 3px 1px 2px rgb(150,150,150);
}

.button_to .logout-b {
  width: 60%;
  margin: 10px auto;
  padding: 0 0 20px 0;
  background: linear-gradient(to bottom right, rgb(126, 32, 15), rgb(221, 78, 58));
  color: rgb(241, 241, 241);
  font-size: 1em;
  text-shadow: none;
}

.button_to .logout-b:hover {
  background: linear-gradient(to bottom right, rgb(126, 32, 15), rgb(193, 38, 17));
  color: rgb(251, 251, 251);
  font-size: 1em;
  text-shadow: none;
}

.button_to .nav-b {
  width: 85%;
  font-size: 1.2em;
}

.button_to .nav-b:hover {
  font-size: 1.3em;
}

input[type="submit"] {
  width: 30%;
  margin: 5px auto;
  padding: 5px 0 40px 0;
  background: linear-gradient(to bottom right, rgb(32, 66, 133), rgb(48, 105, 147));
  color: rgb(221, 221, 221);
  font-size: 1.5em;
  text-shadow: 4px 1px 6px rgb(33, 33, 33);
}

input[type="submit"]:hover {
  background: linear-gradient(to bottom right, rgb(24, 55, 115), rgb(71, 129, 172));
  color: rgb(221, 221, 221);
  font-size: 1.6em;
  text-shadow: 3px 1px 2px rgb(150,150,150);
}

input.main-b {
  width: 90%;
}

.button_to .green-b {
  background: linear-gradient(to bottom right, rgb(15, 126, 26), rgb(57, 221, 83));
}

.button_to .green-b:hover {
  background: linear-gradient(to bottom right, rgb(9, 115, 7), rgb(93, 221, 94));
}

#welcome-box {
  margin-top: 50px;
  margin-bottom: 30px;
}

#welcome-box h1 {
  font-size: 3.75em;
}

#tip-tips {
  padding: 10px;
  background-color: rgba(25, 33, 42, 0.54);
  border-radius: 2%;
}

.new-item {
  margin-bottom: -30px;
}

.new-item-form {
  margin-bottom: 15px;
}

.new-item-submit {
  margin-bottom: 30px;
}

.menu-heading {
  width: 55%;
  margin: 5px auto;
  padding: 20px;
  border-radius: 2.5%;
  background-color: rgba(16, 38, 30, 0.74);
  text-shadow: 2px 3px 8px black;
}

.menu-box {
  min-height: 315px;
  margin: 15px;
  padding: 15px;
  border: 2px solid rgb(78, 84, 87);
  border-radius: 2.5%;
  box-shadow: 2px 4px 10px rgb(13, 31, 20);
}

.app {
  background-color: rgba(196, 228, 134, 0.3);
}

.entree {
  background-color: rgba(235, 192, 162, 0.3);
}

.drink {
  background-color: rgba(167, 199, 233, 0.3);
}

.dessert {
  background-color: rgba(219, 176, 235, 0.3);
}

.menu-box h5, .menu-box p {
  margin-bottom: 5px;
  color: black;
  font-weight: bold;
}

.menu-box h4 {
  text-shadow: 2px 1px 5px black;
}

table {
  width: 100%;
  font-size: 1.15em;
}

th {
  text-align: center;
  font-size: 1.2em;
}

td {
  padding: 10px;
}

td:first-child, th:first-child {
  padding-left: 15px;
}

td:last-child, th:last-child {
  padding-right: 15px;
}

.party-cell {
  padding: 0 10px;
  margin: -20px 0;
}


.items {
  margin: 0 auto;
}
.item-box {
  background-color: rgba(67, 78, 82, 0.8);
  min-height: 315px;
  margin: 10px;
  padding: 10px;
  border: 2px solid rgb(108, 122, 136);
  border-radius: 2.5%;
  box-shadow: 3px 3px 7px rgb(18, 36, 31);
}
.item-box h4 {
  margin-bottom: 5px;
}
.item-box h6 {
  text-align: left;
  margin-bottom: 5px;
}

.item-box-link {
  margin: 15px;
  padding: 15px;
  font-size: 1.4em;
}

.party-order {
  background-color: rgba(172, 196, 182, 0.2);
  border-top: 2px solid rgb(61, 68, 64);
  padding: 5px;
}

.party-order form, .party-order h5{
  margin-bottom: .5rem;
}

.party-order input {
  margin-top: .6rem;
  margin-bottom: .5rem;
}

.receipt-total {
  font-size: 1.5em;
  font-weight: bold;
}
.error {
  color: red;
  font-weight: 200%;
}
